* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: gray url(rsz_1nature-sky-clouds-blue-5359402.png) no-repeat fixed center;
}

main {
    text-align: center;
    margin: auto;
    padding: 20% 0;
}

.container {
    margin: auto;
    max-width: 350px;
    display: inline-block;
    text-align: center;
    padding: 1rem;
}

/** Headers and text **/
h1, h2, h3, span {
    margin: 0;
}

h1 {
    font-size: 12rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.4rem;
}

span {
    font-size: 6rem;
    font-weight: 600;
}


.degrees {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-left: 2rem;
}

.hide {
    display: none;
}

img {
    width: 80px;
}


/** button styling, if needed **/

button {
    color: skyblue;
    background: black;
    border: none;
    padding: 10px;

}

/** Responsiveness **/